@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap);

.App {
    text-align: center;
    background-color: #7843E6;
    overflow-x: hidden;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
