#team {
  margin-top: 50px;
  padding: 0 50px;
  background-color: transparent;
}

#team h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-block-start: 1em;
}

#team #teammembers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.member {
  text-decoration: none;
  color: #fff;
  flex: none;
  margin: 0 30px;
  position: relative;
  width: 300px;
  min-width: 180px;
  max-width: 300px;
  outline: none;
  display: block;
}

.member:after {
  content: "";
  /* background-image: url(/images/site/meltedice.svg); */
  background-repeat: no-repeat;
  background-size: 99%;
  width: 108%;
  height: 85%;
  display: block;
  position: absolute;
  top: -8px;
  left: -8px
}

.member img {
  width: 300px;
  border-radius: 50%;
  border: 5px solid #43AAE6;
}

.member .infos {
  padding: 40px 0 60px 0
}

.member .infos svg {
  width: 25px;
  height: 25px;
  margin-right: 20px
}

.member .infos .nickname {
  font-family: Bowlby One;
  font-size: 2rem;
  text-transform: uppercase
}

.member .infos p {
  font-family: Bowlby One;
  font-size: 1rem;
  text-transform: uppercase
}

.member:hover {
  -webkit-animation: headShake;
  animation: headShake;
  -webkit-animation-duration: .5s;
  animation-duration: .5s
}

h3 {
  font-family: Bowlby One;
  font-size: 4rem;
  /* line-height: 5rem; */
  text-transform: uppercase;
  margin: 0 0 3;
  color: white;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
}

